<h1>aplaylist index</h1>
{% if request.user.is_authenticated %}
    <a href="/logout">Log out</a>
{% else %}
    <a href="{% url "social:begin" "spotify" %}">Spotify</a>
{% endif %}

<h2>Your Album Playlist</h2>
{% for ap in album_playlists %}
<h3>{{ap.name}}</h3>
<ul>
  {% for album in ap.album_set.all %}
  <li>{{ album }}<a href="/aplaylist/play-album/{{album.spotify_id}}/{{device_id}}" target="_blank">Play</a></li>
  {% endfor %}
</ul>
{% endfor %}

<h3>Current Playing Raw Data</h3>
{{ current_play_data }}

<h3>Available Devices Data</h3>
{% if devices_data %}
  {{ devices_data }}
{% else %}
  <p>No available devices</p>
{% endif %}
